.service{
    background-color: rgb(204, 204, 237);
    

}

.service_item span i{
    font-size: 2rem;
    color:rgb(120, 95, 45);
    

}

.service_item h6{
    font-size: 1.2rem;
    font-weight: 800;
    transition: .3s;
    color:  rgb(33, 6, 112);

}
.service_item h6:hover{
    color: rgb(120, 95, 45);
    cursor: pointer;
     
}

.service_content h6{
    text-align:center;
    font-size: 1.2rem;
    color:rgb(120, 95, 45);
    
    
} 

    


